<?xml version="1.0" encoding="utf-8" ?>

<!-- 
- FILE          : App.config
- PROJECT       : Assignment Manager
- PROGRAMMER    : Gagana Hettiarachchige
- FIRST VERSION : 2023-12-17
- DESCRIPTION   :
-	Holds the apps configurations.
-->

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>